@media (min-width: 1279px){
    .container{
        width:1264px;
        margin: 0;}}
@media (min-width: 992px){
    .mb-lg-0 {
        margin: 0 auto;}
    #costil2{
        padding: 0;
        width: 100%;
        margin: 0 auto;}}
    @media (min-width: 576px){
        .container, .container-sm {
            max-width: 90%;}}
        @media (min-width: 768px){
            .container{width: 95%;}}
   



            





@media (max-width:1279px){
    .start{     
        max-width: 1280px;
        display: flex;
        margin: auto;
        justify-content: center;

    }
    .capsyla{
        width: 94%;
        margin: 0 auto;
      }
      .capsyla2{
        width: 100%;  
        display: flex;
        flex-wrap: wrap;
         margin-bottom: auto; 
    }
    .start-right{
        display: none;
    }

.mobbail_shapka{
font-size: 500%;
margin-right: auto;
}
#costil{
    width: 75%;
    display: flex;
}
#costil2{
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}
#costil3{
    display: none;
}
#btn_costil{
    width: 94%;
    margin: 3%;
    height: 200px;
    border-radius: 50px;
    font-size: 100%;
}
#costil4{  
}
.container{
    width: 90%;
}
.img_shapka{
    width:50%;
    height:50%;
    border-radius: 50%;
    margin: 10px auto;
}
.btn_shapka{
    font-size: 0%;
border-radius: 0px;
width: 0px;
height: 0px;
}
.exit {
    border-radius: 50%;
     width:200px;
}
#FormIdMess{
    font-size: 600%;
    border-radius: 40px 40px 0 0;
}






    *{
        margin: 0;
        padding: 0;
    }
    body{
        
        background-color: rgb(235, 235, 235,0.212);
    }
.start-top{
    margin-bottom: 70px;
    padding: 10px;
    height: 80px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background-color: rgba(0, 0, 0, 0.322);    
}
.start-left{
    margin: 10px 10px 10px 30px;
    padding: 0px 0px 20px 0px;
    width: 48%;
    max-height: 440px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    }
    .start-left2{
        margin: 10px 10px 10px 30px;
        padding: 0px 0px 20px 0px;
        min-height: 440px;
        max-height: auto;
        background-color: rgb(255, 255, 255);
        border-radius: 40px 40px 10px 10px;
        }
.start-left-admin-panel{
        margin: 10px 10px 10px 30px;
        padding: 0px 0px 20px 0px;
        min-height: 440px;
        max-height: auto;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
}
.start-right-Mess-SUPER{
    display: block;
    width: 100%;
    font-size: 400%;
  }
  .start-right-Mess-SUPER2{
    display: none;
  }
.start-right-Mess{
    margin: 10px 20px 10px auto; /*вверх, право, низ, лево*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: auto;
}

    .start-right_pl{
        border-radius: 0 0 40px 40px;
        background-color: rgba(189, 189, 189, 0.212);   
        padding: 0px; 
    }
    .start-right_pl2{
        border-radius: 0 0 0px 0px;
        background-color: rgba(189, 189, 189, 0.212);   
    
        padding: 0px; 
    }


    .top_nazvan_4{
  
        padding: 4px 20px 4px 20px;
        font-weight: 670;
        font-size: 110%;
        background-color: rgba(189, 189, 189, 0.212);
        border: 1px solid rgb(212, 212, 212);
        border-bottom-style:none;
        border-top-style:none;
        border-top:1px solid rgb(212, 212, 212);
        color: rgb(122, 122, 122);
    }
    
.coment_start{
    /*просто пустой класс, нужен для обьединения <hr>, оставил на будующее пустой css*/
}
.coment{
display: flex;
    padding: 10px;
}
.coment:hover{
    background-color: rgba(0, 0, 0, 0.103);
}
.coment-left{
    width: 80%;
}
.coment-right{
width: 25%;
}
.com_verh {
    display: flex;
}
.com_tip {
    font-weight: bold;
    font-size: 110%;
    width: 90%;
}
.com_vrem {
    width: 10%;
}

.com_vaj1 {
    font-weight: bold;
    background-color: rgb(45, 126, 7);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
}
.com_vaj2 {
    font-weight: bold;
    background-color: rgb(255, 168, 68);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
}
.com_vaj3 {
    font-weight: bold;

    background-color: rgb(255, 68, 68);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
}
.com_stat1 {
    background-color: rgb(45, 126, 7);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
}
.com_stat2 {
    background-color: rgb(255, 168, 68);
    padding: 0 50px 0 10px;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
}
.com_stat3 {
    background-color: rgb(88, 88, 88);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
}
.com_stat_btn {
    background-color: rgb(230, 142, 43);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    margin-top: 10px;
    font-weight: 700;
}
.com_stat_btn2 { 
    background-color: rgb(88, 88, 88);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    margin-top: 10px;
    font-weight: 700;
}
.hr{
    margin: 0 10px 0 10px;
}
.top_zaiv{
    border-radius: 40px 40px 0 0;
    padding: 20px 50px 20px 50px;
    font-weight: 650;
    font-size: 130%;
    background-color: rgb(83, 83, 83);
    color: white;
    
}
.top_zaiv2{
    border-radius: 40px 40px 0 0;
    padding: 20px 50px 20px 50px;
    font-weight: 650;
    font-size: 450%;
    background-color: rgb(83, 83, 83);
    color: white;
    
}
#selectID{
 font-size: 90%;
 border-radius: 40px;
 padding: 30px 20px 30px 20px;

}
.sel_class{
    margin: 40px 20px 40px 20px;
    padding: 0 10px;
}
.sel_class_admin{
    margin: 10px 20px 10px 20px;
}

.sel_class2{
    margin: 20px 20px 30px 20px;
    padding: 0 10px;
}
.sel_class2_admin{
    margin: 0px 20px 10px 20px;
}
#selectID2{
    font-size: 90%;
    border-radius: 40px;
    padding: 30px 20px 30px 20px;
}
#selectIDadmin{
    font-size: 400%;
    border-radius: 40px;
    padding: 30px 20px 30px 20px;
}
#selectID2admin{
    font-size: 400%;
    border-radius: 40px;
    padding: 30px 20px 30px 20px;
}
#exampleFormControlTextarea1{
    font-size: 75%;
    margin: 0 2%;
    width: 96%;
    margin-top: 20px;
    min-height: 1400px;
}
#exampleFormControlTextarea14{
    margin: 0 4%;
    width: 92%;
}
.form-group{
    margin-top: 170px;
    padding: 0 10px;
    font-size: 120%;
    line-height:90%;
}
.form_radio{
    margin: 10px 20px 10px 20px;
    padding: 0 10px;
}
#pillNav2{
    border-radius: 100px;
}
.nav-item{
    margin: 10px;
}
.form_problem{
    margin: 10px 20px 10px 20px;
}
.form_btn_div {
    background-color: rgb(255, 255, 255);
}
.form_btn_a {
    margin: 10px 20px 10px 20px;
}  
.form_btn_a_admin {
    margin: 0px 20px 0px 20px;
}  
 
.btn_message{width: 100%; 
background-color: rgb(8, 185, 255) ;
color: black; font-style:oblique;
border-color: rgb(41, 142, 201);}

.scroll{    
    height: 100%;
    overflow: auto;    
}
.scroll2{    
    height: 60vh;
    overflow: auto;    
}
.scroll2::-webkit-scrollbar{    
    width: 0;
}

.status_see_false{
    background-color: rgb(95, 95, 95);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
    width: 150px;
}

.status_see_true{
    background-color: rgb(2, 139, 20);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
    width: 150px;
}

.gg_content {
    justify-content:space-between;
    display: flex;
}
.message {
    align-items: center;
    text-align: center;
    margin-top: 25%;
}
.box_message{
width: 50%;
height: 550px;
}

.container_j{
    border-radius: 10px 10px 0 0;
    padding: 0px 20px 0px 20px;
    width:300px;
    font-size: 120%;
    background-color: rgba(189, 189, 189, 0.212);
    border: 1px solid rgb(212, 212, 212);
    border-bottom-style:none;
    margin: 10px 10px 10px 30px;
    padding: 0px 0px 0px 0px;
}
.container_title {
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
}
.container_new_key {
    border: 1px solid rgb(212, 212, 212);
    display: flex;
    text-align: right;
}
.icon_key {
  margin-left: 8%;
}
.new_key_text {
    width: 100%;
    text-align: center;
}
.container_true_key {
    border: 1px solid rgb(212, 212, 212);
}
.true_text_key {
    text-align: center;
}
.btn_key {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
    background-color: rgb(177, 179, 177);
}
.container_btn{
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
}


.shapka {
    display: flex;
    justify-content:space-between;
    text-align: center;
    align-items: center;
}
.img_container {
}
.title_up {
}

.exit_btn{
    background-color: brown;
    color: white;
    border: 1px solid rgb(255, 0, 0);
    width: 80px;
}

.start-left_1{
    margin-left: 25%;
    padding: 0px 0px 20px 0px;
    width: 48%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    }

 .top_nazvan_1{
        border-radius: 10px 10px 0 0;
        padding: 4px 20px 4px 20px;
        font-weight: 770;
        font-size: 120%;
        background-color: rgba(189, 189, 189, 0.212);
        border: 1px solid rgb(212, 212, 212);
        border-bottom-style:none;
        text-align: center;
    }

    .Container_mes{
        background-color: rgba(165, 187, 185, 0.849);
        width: 90%;
        height: 95%;
        margin-left: 5%;
        margin-bottom: 5%;
        border-radius: 20px;
        padding-top: 25px;
        border: 2px double rgba(119, 100, 228, 0.212);
    }

    .left {
        
    }
    .fio_left {
        margin-left: 1%;
    }
    .left_chat {
        background-color: antiquewhite;
        border-radius: 0px 20px 20px 0;
        width: 75%;
    }
    .message_text_left {
    }


    .right {
 
    text-align: right;
    align-items: flex-end;
    margin-left: 25%;
    right: 0%;
        
    }
    .right_chat {
        background-color: antiquewhite;
        border-radius: 20px 0px 0px 20px;
        width: 100%;
        align-items: flex-end;
    }
    .message_text_right {
    }
    .fio_right {
        margin-right: 1%;
    }

    .mes_container {
        width: 85%;
        text-align: center;
        display:inline-flex;
        align-items: center;
        background-color: rgba(165, 187, 185, 0.849);
      margin-left: 6.5%;
     
       

    }
    .mes_otp {
        width: 100%;
        overflow: auto;
    }
    .btn_otp {
        border: none;
        background-color: rgba(122, 235, 225, 0.849);
    }

    .sad{
        overflow: auto;
    }

    .color{
        background-color: rgb(4, 182, 182);
        height: 125px;
        border-radius: 50px;
        width: 50%;
        margin-left: 25%;
    }

    .a{
  
        text-decoration: none;
         color: black; 
         width: 0px;
         height: 0px;
        } 
    #btnsdsa{
        border: none;
    }
    #sh_pk{
        display: none;
    }
    #sh_mobbail{
        display: block;
    }
.Start-costil{
    width: 100%; 
     display: flex;
     flex-wrap: wrap; 
     margin-bottom: auto; 
}
.start-left-Mess{
display: none;
    }
    .start-left-Mess2{
        margin: 10px  0;
        padding: 0px 0px 20px 0px;
        width: 100%;
        font-size: 600%;
        }
.mb-0{
    font-size: 80%;
}
.opacity-50{
    font-size: 40%;
}

.com_coob {
    max-height: 1000px;
    overflow: hidden;
    width:100%;
}
#costil5{
    max-width:765px;
    margin-top: 0;
    font-size: 70%;

}
#costil6{
   margin-top: 60px;
}
#costil7{
    margin-top: 60px;
    width:765px;
 }
 .top_nazvan{
    border-radius: 10px 10px 0 0;
    padding: 4px 20px 4px 20px;
    font-weight: 770;
    font-size: 120%;
    background-color: rgba(189, 189, 189, 0.212);
    border: 1px solid rgb(212, 212, 212);
    border-bottom-style:none;
}
 .costil8{
    width: 1000px;
 }
 #costil9{
    font-size: 100%;
 }
 #costil10{
    padding-left: 30px;
 }
 #costil11{
    width:1200px;
 }
 .costil12{
    margin-bottom: 10px; 
    width:100%;
 }
 .costil13{
    width: 130px; 
    height: 130px; 
 }
 #input_btn{
    border: none; 
    width: 220px; 
    height: 220px; 
    margin-left: 10px;
    margin-top:10px;
 }
 #costil14{

}
#costil15{
font-size: 400%;
}
#costil16{  
    font-size: 600%;
    margin-left:0px;
    margin-bottom:10px;
}
#costil17{  
    font-size: 600%;
display: none;
}
#costil19{
    border-radius: 50%;
    width: 200px;
}
#costil20{
    font-size: 400%;
}
#costil21{
    font-size: 300%;
}
#inputGroup-sizing-sm{
    font-size: 400%;
}
.form-control{
    font-size: 300%;
}
#costil22{
    width:800px;
}
#costil23{
    width:1200px;
}
.containerFooter{
    display: flex;
    justify-content: center;
    padding: 0;
    width:1264px;
    margin: 0 auto;
    font-size: 400%;
}
#spravka_shapka{
    width: 830px;
}
.mobil_prof_sav{
    font-size: 400%;

}
#costil24{
   display: block;
   font-size: 500%;
   margin-left: 1%;
}
.costil_mobail{
    font-size: 500%;
    margin-left: 5%;
    margin-top: 20px;
}
.costil2_mibail{
    font-size: 500%;
    margin-left: 3%;
}
.costil3_mibail{
    font-size: 300%;
    margin-left: 2%;
}
.costil4_mibail{
    display:flex; 
    justify-content: center;
    margin-bottom: 20px;
    font-size: 300%;
}
.img_reference{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.img_reference_small{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.costil30{
    width: 98%;
}
.costil31{
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 400%;
}
.costil32{
    font-size: 400%;
}
.costil33{
    font-size: 400%;
}
.costil34{
    font-size: 400%;
}
.costil35{
    font-size: 400%;
}
#costil36{
    font-size: 400%;
    margin-left: 10%;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
#costil37{
    font-size: 400%;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.costil38{
    font-size: 400%;
    line-height: 1.2;
}
.password-control {
	position: absolute;
	top: 11px;
	right: 6px;
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url(/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(/no-view.svg) 0 0 no-repeat;
}
#exampleFormControlTextarea24{

    height:1000px;

}


}




























@media (min-width: 1200px) and (max-width: 1279px){
    #costil19{
        border-radius: 50%;
        width: 100px;
    }}