*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: rgb(235, 235, 235,0.212);
}
.start{
    width: 1280px;
    display: flex;
    margin: auto;
    justify-content: center;
 

}
.start-top{
    margin-bottom: 70px;
    padding: 10px;
    height: 80px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background-color: rgba(0, 0, 0, 0.322);    
}
.start-left{
    margin: 10px 10px 10px 30px;
    padding: 0px 0px 20px 0px;
    width: 48%;
    max-height: 440px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    }
    .start-left2{
        margin: 10px 10px 10px 30px;
        padding: 0px 0px 20px 0px;
        min-height: 440px;
        max-height: auto;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        }
.start-left-admin-panel{
        margin: 10px 10px 10px 30px;
        padding: 0px 0px 20px 0px;
        min-height: 440px;
        max-height: auto;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
}
.start-right{
    margin: 10px 20px 10px auto; /*вверх, право, низ, лево*/
    width: 47%;
}
.start-right-Mess-SUPER{
    width: 47%;
}
.start-right-Mess{
    margin: 10px 20px 10px auto; /*вверх, право, низ, лево*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: auto;
}
.start-left-Mess{
    margin: 10px 10px 10px 30px;
    padding: 0px 0px 20px 0px;
    width: 48%;
    }
    .start-left-Mess2{
        margin: 10px 10px 10px 30px;
        padding: 0px 0px 20px 0px;
        width: 48%;
        }
    .start-right_pl{
        border-radius: 0 0 40px 40px;
        background-color: rgba(189, 189, 189, 0.212);   
    
        padding: 0px; 
    }
    .start-right_pl2{
        border-radius: 0 0 0px 0px;
        background-color: rgba(189, 189, 189, 0.212);   
    
        padding: 0px; 
    }
    .top_nazvan{
        border-radius: 10px 10px 0 0;
        padding: 4px 20px 4px 20px;
        font-weight: 770;
        font-size: 120%;
        background-color: rgba(189, 189, 189, 0.212);
        border: 1px solid rgb(212, 212, 212);
        border-bottom-style:none;
    }

    .top_nazvan_4{
  
        padding: 4px 20px 4px 20px;
        font-weight: 670;
        font-size: 110%;
        background-color: rgba(189, 189, 189, 0.212);
        border: 1px solid rgb(212, 212, 212);
        border-bottom-style:none;
        border-top-style:none;
        border-top:1px solid rgb(212, 212, 212);
        color: rgb(122, 122, 122);
    }
    
.coment_start{
    /*просто пустой класс, нужен для обьединения <hr>, оставил на будующее пустой css*/
}
.container{
    padding: 0;
    width:1264px;
    margin: 0;
}
.coment{
display: flex;
    padding: 10px;
}
.coment:hover{
    background-color: rgba(0, 0, 0, 0.103);
}
.coment-left{
    width: 80%;
}
.coment-right{
width: 25%;
}
.com_verh {
    display: flex;
}
.com_tip {
    font-weight: bold;
    font-size: 110%;
    width: 90%;
}
.com_vrem {
    width: 10%;
}
.com_coob {
    max-height: 48px;
    overflow: hidden;
}
.com_vaj1 {
    font-weight: bold;
    background-color: rgb(45, 126, 7);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
}
.com_vaj2 {
    font-weight: bold;
    background-color: rgb(255, 168, 68);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
}
.com_vaj3 {
    font-weight: bold;

    background-color: rgb(255, 68, 68);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
}
.com_stat1 {
    background-color: rgb(45, 126, 7);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
}
.com_stat2 {
    background-color: rgb(255, 168, 68);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
}
.com_stat3 {
    background-color: rgb(88, 88, 88);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
}
.com_stat_btn {
    background-color: rgb(230, 142, 43);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    margin-top: 10px;
    font-weight: 700;
}
.com_stat_btn2 { 
    background-color: rgb(88, 88, 88);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    margin-top: 10px;
    font-weight: 700;
}
.hr{
    margin: 0 10px 0 10px;
}
.top_zaiv{
    border-radius: 10px 10px 0 0;
    padding: 4px 20px 4px 20px;
    font-weight: 650;
    font-size: 140%;
    background-color: rgb(83, 83, 83);
    color: white;
    
}
#selectID{
 
}
.sel_class{
    margin: 20px 20px 10px 20px;
}
.sel_class_admin{
    margin: 10px 20px 10px 20px;
}

.sel_class2{
    margin: 10px 20px 10px 20px;
}
.sel_class2_admin{
    margin: 0px 20px 10px 20px;
}
#selectID2{

}
.form_radio{
    margin: 10px 20px 10px 20px;
}
.form_problem{
    margin: 10px 20px 10px 20px;
}
.form_btn_div {
    background-color: rgb(255, 255, 255);
}
.form_btn_a {
    margin: 10px 20px 10px 20px;
}  
.form_btn_a_admin {
    margin: 0px 20px 0px 20px;
}  
 
.btn_message{width: 100%; 
background-color: rgb(8, 185, 255) ;
color: black; font-style:oblique;
border-color: rgb(41, 142, 201);}

.scroll{    
    height: 68vh;
    overflow: auto;    
}
.scroll2{    
    height: 60vh;
    overflow: auto;    
}
.scroll2::-webkit-scrollbar{    
    width: 0;
}

.status_see_false{
    background-color: rgb(95, 95, 95);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
    width: 150px;
}

.status_see_true{
    background-color: rgb(2, 139, 20);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
    width: 150px;
}
.img_shapka{
    width:60px;
    height:60px;
    border-radius: 50%;
}
.gg_content {
    justify-content:space-between;
    display: flex;
}
.message {
    align-items: center;
    text-align: center;
    margin-top: 25%;
}
.box_message{
width: 50%;
height: 550px;
}

.container_j{
    border-radius: 10px 10px 0 0;
    padding: 0px 20px 0px 20px;
    width:300px;
    font-size: 120%;
    background-color: rgba(189, 189, 189, 0.212);
    border: 1px solid rgb(212, 212, 212);
    border-bottom-style:none;
    margin: 10px 10px 10px 30px;
    padding: 0px 0px 0px 0px;
}
.container_title {
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
}
.container_new_key {
    border: 1px solid rgb(212, 212, 212);
    display: flex;
    text-align: right;
}
.icon_key {
  margin-left: 8%;
}
.new_key_text {
    width: 100%;
    text-align: center;
}
.container_true_key {
    border: 1px solid rgb(212, 212, 212);
}
.true_text_key {
    text-align: center;
}
.btn_key {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
    background-color: rgb(177, 179, 177);
}
.container_btn{
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
}


.shapka {
    display: flex;
    justify-content:space-between;
    text-align: center;
    align-items: center;
}
.img_container {
}
.title_up {
}
#costil2{
    margin: 0;
    padding: 0;

    
}
#costil4{
    margin: auto 0;
}

.flex_shapka{
    display: flex;
}
.exit {
    border-radius: 50%;
     width:50px;
}
.exit_btn{
    background-color: brown;
    color: white;
    border: 1px solid rgb(255, 0, 0);
    width: 80px;
}

.start-left_1{
    margin-left: 25%;
    padding: 0px 0px 20px 0px;
    width: 48%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    }

 .top_nazvan_1{
        border-radius: 10px 10px 0 0;
        padding: 4px 20px 4px 20px;
        font-weight: 770;
        font-size: 120%;
        background-color: rgba(189, 189, 189, 0.212);
        border: 1px solid rgb(212, 212, 212);
        border-bottom-style:none;
        text-align: center;
    }


    .Container_mes{
        background-color: rgba(165, 187, 185, 0.849);
        width: 90%;
        height: 95%;
        margin-left: 5%;
        margin-bottom: 5%;
        border-radius: 20px;
        padding-top: 25px;
        border: 2px double rgba(119, 100, 228, 0.212);
    }

    .left {
        
    }
    .fio_left {
        margin-left: 1%;
    }
    .left_chat {
        background-color: antiquewhite;
        border-radius: 0px 20px 20px 0;
        width: 75%;
    }
    .message_text_left {
    }


    .right {
 
    text-align: right;
    align-items: flex-end;
    margin-left: 25%;
    right: 0%;
        
    }
    .right_chat {
        background-color: antiquewhite;
        border-radius: 20px 0px 0px 20px;
        width: 100%;
        align-items: flex-end;
    }
    .message_text_right {
    }
    .fio_right {
        margin-right: 1%;
    }

    .mes_container {
        width: 85%;
        text-align: center;
        display:inline-flex;
        align-items: center;
        background-color: rgba(165, 187, 185, 0.849);
      margin-left: 6.5%;
     
       

    }
    .mes_otp {
        width: 100%;
        overflow: auto;
    }
    .btn_otp {
        border: none;
        background-color: rgba(122, 235, 225, 0.849);
    }

    .sad{
        overflow: auto;
    }

    .color{
        background-color: rgb(4, 182, 182);
        height: 125px;
        border-radius: 50px;
        width: 50%;
        margin-left: 25%;
    }
    .nav-item{
        margin: 0px;
    }
    

    .a{
        text-decoration: none;
         color: black; 
         margin: auto 0;
    } 



    #btnsdsa{
        border: none;
    }
    .capsyla{
      width: 48%;
    }
    .capsyla2{
        width: 100%;  
        display: flex;
        flex-wrap: wrap;
         margin-bottom: auto; 
    }
    #sh_pk{
        display: block;
    }
    #sh_mobbail{
        display: none;
    }
    .Start-costil{
        width: 100%; 
         display: flex;
         flex-wrap: wrap; 
         margin-bottom: auto; 
    }
    #costil5{
        max-width:360px;
    }
    #costil11{
        width:565px;
     }
     .costil12{
        margin-bottom: 70px; 
        width:100%;
     }
     .costil13{
        width: 30px; 
        height: 30px; 
     }
     #input_btn{
        border: none; 
        width: 50px; 
        height: 50px; 
        margin-left: 10px;
        margin-top:10px;
     }
     #costil16{  
        font-size: 200%;
        margin-left:300px;
        margin-bottom:10px;
    }
    #costil19{
        border-radius: 50%;
        width: 100px;
    }